<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WebBot.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CefSharp" publicKeyToken="40c4b6fc221f4138" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.25.7.0" newVersion="1.25.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <gcConcurrent enabled="false"/>
  </runtime>
  <userSettings>
    <WebBot.Properties.Settings>
      <setting name="BetsPerSecond" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="TotalBets" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CurrentBets" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CurrentProfit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AllTimeProfit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BetQueueSize" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MaxRetry" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Wins" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Loses" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AllTimeBets" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AllTimeWins" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AllTimeLoses" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CurrentStreak" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastResult" serializeAs="String">
        <value>Initial</value>
      </setting>
      <setting name="RollHigh" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CurrentBetAmount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MinimumBetAmount" serializeAs="String">
        <value>0.00000001</value>
      </setting>
      <setting name="PauseBet" serializeAs="String">
        <value>False</value>
      </setting>
    </WebBot.Properties.Settings>
    <WebBot.Settings>
      <setting name="BetThreadPerSecond" serializeAs="String">
        <value>1</value>
      </setting>
    </WebBot.Settings>
  </userSettings>
</configuration>
